body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #555; /* Grey scrollbar thumb */
  border-radius: 4px; /* Rounded scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #888; /* Lighter grey on hover */
}

::-webkit-scrollbar-track {
  background: #101010; /* Matches the background color */
}
